{% extends 'main.html' %}
{% block content %}
<style>
     .container {
         display: flex;
         /* justify-content: space-evenly;  */
         align-items: center;
         height: 100vh; /* full page height */
         /* padding: 0; */
         gap: 0px;
      }

      #lottie-container {
         width: 500px;
         height: 400px;
         margin-left: 100px;
      }
</style>

 <h1>take your wallet</h1>
<div class="container">
   <div id="lottie-container">
      <dotlottie-wc
      src="https://lottie.host/1c140118-1e7b-4297-bf0a-636fbbb9c3f8/9PmobGOr2F.lottie"
      style="width: 300px;height: 300px"
      speed="1"
      autoplay
      loop
      ></dotlottie-wc>
   </div>
      <!-- <spline-viewer url="https://prod.spline.design/hnw5VeFMPCUbs2QJ/scene.splinecode" class="spline"></spline-viewer> -->

      <form action="" method="post">
         {% csrf_token %}
         ACCOUNT NUMBER <input type="number" name="acc" id="">
         <br><br>
         PIN <input type="password" name="pin" id="">
         <button type="submit">CHECK BALANCE</button>
      </form>
      {{msg}}
</div>

{% endblock content %}